<div class="jumbotron text-center">
  <div class="container">
    <h1>{{tr "The Best in International Food"}}</h1>
    <p>{{tr "Food from around the world"}}</p>
  </div>
</div>

<div class="recipe-nav" data-spy='affix' data-offset-top='480'>
  <div class="container text-centered">
    <div id="nav-categories">
      <ul class="nav nav-tabs">
        {{#each categories as |cat|}}
          <li>
            <a href='#{{cat.id}}'>
              {{tr cat.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">

    {{#each categories as |cat|}}
      <a class="anchor" id={{cat.id}}></a>
      <div class="page-header">
        <h3>{{tr cat.name}}</h3>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            {{#each (get recipes cat.id) as |rec|}}
              <div class="col-lg-4 col-md-6">
                {{#link-to "recipe" rec class="panel panel-default recipe-thumbnail"}}
                  <img class="img-responsive" src={{rec.image}} />
                  <div class="panel-body">
                    <h4>{{tr rec.name}}</h4>
                    <p>{{tr rec.description}}</p>
                  </div>
                {{/link-to}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>

